// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/input/keymap.h>

/ {
    kbd-matrix {
        status = "okay";
        compatible = "gpio-kbd-matrix";
        row-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>,
                    <&gpio0 11 GPIO_ACTIVE_LOW>;

        col-gpios = <&gpio0 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio0 5 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>,
                    <&gpio0 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        settle-time-us = <0>;
        no-ghostkey-check;

        keymap {
            compatible = "input-keymap";
            keymap = <
                MATRIX_KEY(0, 0, INPUT_KEY_A) MATRIX_KEY(0, 1, INPUT_KEY_R) MATRIX_KEY(0, 2, INPUT_KEY_T) MATRIX_KEY(0, 3, INPUT_KEY_S) 
                MATRIX_KEY(1, 0, INPUT_KEY_E) MATRIX_KEY(1, 1, INPUT_KEY_Y) MATRIX_KEY(1, 2, INPUT_KEY_I) MATRIX_KEY(1, 3, INPUT_KEY_O)
            >;
            row-size = <2>;
            col-size = <4>;
        };
    };
};